h1{
    text-align: center;
}
#main {
    border: 2px solid black;
    width: 30em;
    height: 35em;
    margin: 0 auto;
    position: relative;
}

.screen{
    height: 15%;
}

.operators{
    display: flex;
    justify-content: center;
    height: 10%;
    
}

.signs{
    width: 25%;
    border-top: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}
.signs1{
    border-top: 1px solid black;
    width: 25%;
    text-align: center;
    
}

#grid-equal{
    height: 75%;
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 75%;
    height: 85%;
    box-sizing: border-box;
    position: relative;
    text-align: center; 
    margin:0;
    min-height: 0;
    height: 100%;
    overflow: auto;
}

.clear, .del{
    display: block;
    padding: 0;
    justify-content: center;
    background-image: linear-gradient(to right, #001f3f, #0a3055);
    color: white;
    font-size: 1.5em;
    
};

.text{
    text-shadow: 1px 1px black;
}


.zero, .clear, .del {
    border-right: 1px solid black;
    
}

.nine, .eight, .seven{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    
}

.six, .five, .four, .three, .two, .one{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    
}

.grid-item, .zero{
    display: block;
    padding: 0;
    justify-content: center;
    background-image: linear-gradient(to right, #001f3f, #0a3055);
    color: white;
    font-size: 1.5em;
    text-align: c;
    
}

#grid-equal{
    display: flex;
}

.equal{
    width: 25%;
    text-align: center;
    border-top: 1px solid black;
    background-image: linear-gradient(to right, #FF851B, #fc8d2d);
    color: white;
};

.zero, .clear, .del{
    background-image: linear-gradient(to right, #FF851B, #fc8d2d);
}

#equal{
    position: relative;
    margin: 0;
    top: 46%;
    font-size: 4em;
}